<form #contactForm="ngForm" (ngSubmit)="contactForm.valid && onSubmit(contactForm)">
  <fieldset>
    <label for="lastname">Nom</label>
    <input id="lastname" name="lastname" type="text" required minlength="2" [(ngModel)]="newMessage.lastname" #lastname="ngModel">
    <div *ngIf="lastname.invalid && lastname.touched">
      <span *ngIf="lastname.errors?.['required']">Le nom est requis</span>
      <span *ngIf="lastname.errors?.['minlength']">La longueur minimale doit être supérieure à 2</span>
    </div>
  </fieldset>

  <fieldset>
    <label for="firstname">Prénom</label>
    <input id="firstname" name="firstname" type="text" required minlength="2" [(ngModel)]="newMessage.firstname" #firstname="ngModel">
    <div *ngIf="firstname.invalid && firstname.touched">
      <span *ngIf="firstname.errors?.['required']">Le prénom est requis</span>
      <span *ngIf="firstname.errors?.['minlength']">La longueur minimale doit être supérieure à 2</span>
    </div>
  </fieldset>

  <fieldset>
    <label for="email">Contact</label>
    <input id="email" name="email" type="email" required [(ngModel)]="newMessage.email" #email="ngModel">
    <div *ngIf="email.invalid && email.touched">
      <span *ngIf="email.errors?.['required']">L'email est requis</span>
      <span *ngIf="email.errors?.['email']">Veuillez fournir une adresse email valide</span>
    </div>
  </fieldset>

  <fieldset>
    <label for="content">Contenu du message</label>
    <textarea id="content" name="content" required minlength="20" rows="4" cols="50" [(ngModel)]="newMessage.content" #content="ngModel"></textarea>
    <div *ngIf="content.invalid && content.touched">
      <span *ngIf="content.errors?.['required']">Le contenu du message est requis</span>
      <span *ngIf="content.errors?.['minlength']">Le contenu doit comporter au moins 20 caractères</span>
    </div>
  </fieldset>

  <button type="reset">Restaurer</button>
  <button type="submit" [disabled]="contactForm.invalid">Sauvegarder</button>
</form>
